body {
  overflow-x: hidden;
  background-color: #fcf8f7;
  color: #594a35;
}

.no-left-padding {
  padding-left: 0;
}

/* Demo Typography */

h1 {
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin: 40px 0;
  font-family: 'Montserrat', sans-serif;
}

h1.title {
  font-size: 45px;
  margin: 40px 0 0 0;
  font-family: "HelveticaNeue-CondensedBold", "proxima-nova-extra-condensed", Helvetica, Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: none;
  text-align: center;
  color: #c2bbb3;
}

h1.title img {
  max-width: 200px;
  max-height: 104px;
  margin-right: 10px;
  margin-top: -16px;
}

h2 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

h3 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0 0 0;
  padding: 0;
}

h4 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  padding: 0;
  color: #d84207;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.table {
  font-size: 14px;
}

td.mono {
  font-family: 'Monaco', monospace !important;
}

/* Demo Colors */
.white { color: #ffffff; }
.bg-white { background-color: #ffffff; }
.orange { color: #d84207; }
.bg-orange { background-color: #d84207; }
.brown { color: #594a35; }
.bg-brown { background-color: #594a35; }
.beige { color: #ede9e0; }
.bg-beige { background-color: #ede9e0; }
.lightBeige { color: #fcf8f7; }
.bg-lightBeige { background-color: #fcf8f7; }

/* Demo Layout */

.readme {
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px 40px 40px 40px;
}

.readme .row {
  width: 100%;
  margin: 0 auto;
}

pre {
  background-color: #ede9e0;
  border: 1px solid #ccc;
  border-radius: 0px;
}

.demo, .options {
  margin: 0 auto;
  text-align: center;
}

.form-group {
  margin-left: 10px;
  margin-right: 10px;
}

button.view-demo {
  width: 100px;
  height: 50px;
  margin: 35px 0 0 0;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  background-color: #d84207;
}

button.view-demo:hover, button.view-demo:focus, button.view-demo:active {
  color: #ffffff;
}

.readme .example, .readme .events {
  margin: 20px auto;
}

.box {
  max-width: 175px;
  height: 100px;
  background-color: #ede9e0;
  border: 1px solid #ccc;
  position: relative;
  margin: 0 auto;
}

.ban span:first-child {
  display: block;
  position: relative;
  height: 25px;
  top: 0;
  background-color: #d84207;
}

.ban span:last-child {
  display: block;
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 0;
  z-index: 1;
  background-color: #d84207;
}

.pop span {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  width: 50%;
  height: 30%;
  background-color: #d84207;
}

.table {
  border: 1px solid #ddd;
}

.table > thead > tr > th {
  border-bottom: 1px solid #dddddd;
}

footer {
  width: 100%;
  margin: 15px auto;
  text-align: center;
}

a.copyright {
  color: #d84207;
}

a.copyright:focus, a.copyright:hover, a.copyright:active {
  text-decoration: under
}

/* Styles for the jpop-form */
.jpop-form {
  margin: 0px;
}

.jpop-form input {
  border-radius: 0;
  box-shadow: none;
  border: none;
  color: #d84207;
  height: 34px;
  padding: 10px;
}

.jpop-form input:focus, .jpop-form input:active {
  border: none;
  outline: 0;
}

.jpop-form button {
  background-color: #a73305;
  border-radius: 0;
  border: none;
  color: #fff;
  height: 34px;
}

.jpop-form button:hover, .jpop-form button:active, .jpop-form button:focus {
  color: #d84207;
  background-color: #fff;
}

/* Styles for the jpop-banner */

.jpop-banner {
  overflow: hidden;
  height: auto;
  padding: 20px;
  background-color: #d84207;
  color: #fff;
}

.jpop-left {
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 3%;
}

.jpop-right {
  float:right;
  width: 50%;
}

.jpop-banner input, .jpop-banner button {
  float: left;
}

.jpop-banner button {
  border-left: 1px solid #d84207;
}

.jpop-banner button:hover, .jpop-banner button:active {
  background-color: #7c2502;
  border-left: 1px solid #7c2502;
  color: #fff;
}

.jpop-banner .jpop-cta {
  float: right;
  padding-right: 5%;
  margin-top: 8px;
}

.jpop-banner .jpop-dismiss {
  cursor: pointer;
  font-size: 45px;
  color: white;
  position: absolute;
  right: 20px;

}

.slideInDown .jpop-dismiss {
  top: 0;
}

.slideInUp .jpop-dismiss {
  top: 5px;
}

.jpop-banner .jpop-dismiss:hover {
  text-decoration: none;
  color: #7c2502;
}

/* Styles for the jpop-popover */

.jpop-backdrop {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.jpop-content {
  position: relative;
  width: 600px;
  height: auto;
  max-width: 90%;
  margin: 30px auto;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.jpop-popover .jpop-dismiss {
  cursor: pointer;
  font-size: 40px;
  margin-right: 10px;
  margin-top: -10px;
}

.jpop-popover .jpop-dismiss:hover {
  text-decoration: none;
  color: #7c2502;
}

.jpop-content .jpop-dismiss {
  position: absolute;
  top: 6px;
  right: 6px;
}

.jpop-popover .jpop-cta {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0px;
  text-align: center;
  color: #d84207;
}

.jpop-popover input, .jpop-popover button {
  float: left;
}

.jpop-popover input {
  width: 100%;
  border: 1px solid #d84207;
  padding-right: 40%;
  color: #594a35;
}

.jpop-popover input:focus, .jpop-popover input:active {
  padding: 10px;
  border: 1px solid #d84207;
}

.jpop-popover button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d84207;
}

.jpop-popover button:hover, .jpop-popover button:active {
  background-color: #a73305;
  color: #fff;
}

.jpop-popover .jpop-form {
  display: inline-block;
  width: 100%;
  position: relative;
}

/* Animations */

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.7, .7, .7);
    transform: scale3d(.7, .7, .7);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.7, .7, .7);
    transform: scale3d(.7, .7, .7);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}